body {
    background: aliceblue;
}
main{
    padding: 20px;
}

h1 {
    margin: 0px;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #888888;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

li {
    float: left;
    border-right: 1px solid #666666;
}

a {
    display: block;
    padding: 8px;
    color: black
}

a:hover {
    color: white;
    text-decoration: none;
}