<h2>Entries</h2>

<h3>Add Entry</h3>
<form ng-submit="vm.submitTimeEntry()">
    <div layout="row">
        <div layout="column" flex="80">
            <label for="name">Short Description</label>
            <input type="text" id="name" ng-model="vm.newTime.description">
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="40">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" ng-model="vm.newTime.startDate" />
        </div>
        <div layout="column" flex="40">
            <label for="startTime">Start Time</label>
            <input type="time" id="startTime" ng-model="vm.newTime.startTime">
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="40">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" ng-model="vm.newTime.endDate">
        </div>
        <div layout="column" flex="40">
            <label for="endTime">End Time</label>
            <input type="time" id="endTime" ng-model="vm.newTime.endTime">
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="60">
            <label for="project">Project</label>
            <select name="project" id="project">
                <option value="">Select Project</option>
                <option value="timeKeeper">Time Keeper</option>
            </select>
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="30">
            <input type="submit" />
        </div>
    </div>
</form>
<h3>All Entries</h3>
<table>
    <thead>
        <tr>
            <th>Entry</th>
            <th>Project</th>
            <th>Start Date and Time</th>
            <th>End Date and Time</th>
            <th>Hours</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in vm.entries.list">
            <td>{{entry.name}}</td>
            <td>{{entry.project}}</td>
            <td>{{entry.start_time[1]+'/'+entry.start_time[2]+'/'+entry.start_time[0]+' '+entry.start_time[3]+':'+entry.start_time[4]}}</td>
            <td>{{entry.end_time[1]+'/'+entry.end_time[2]+'/'+entry.end_time[0]+' '+entry.end_time[3]+':'+entry.end_time[4]}}</td>
            <td>{{entry.time_quarter_hours/4}}</td>
            <td>{{vm.deleteEntry(entry)}}</td>
        </tr>
    </tbody>
</table>

