<h1 ng-click="vm.showForm()">
    <i class="material-icons" ng-show="!vm.formActive">
        arrow_back_ios
    </i>
    <i class="material-icons" ng-show="vm.formActive">
        arrow_forward_ios
    </i>
    Add Entry</h1>
<form ng-submit="vm.submitTimeEntry()" ng-show="vm.formActive">
    <div layout="row">
        <div layout="column" flex="80">
            <label for="name">Short Description</label>
            <input type="text" id="name" ng-model="vm.newTime.description">
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="40">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" ng-model="vm.newTime.startDate" />
        </div>
        <div layout="column" flex="40">
            <label for="startTime">Start Time</label>
            <input type="time" id="startTime" ng-model="vm.newTime.startTime">
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="40">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" ng-model="vm.newTime.endDate">
        </div>
        <div layout="column" flex="40">
            <label for="endTime">End Time</label>
            <input type="time" id="endTime" ng-model="vm.newTime.endTime">
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="60">
            <label for="project">Project</label>
            <select name="project" id="project" ng-model="vm.newTime.project">
                <option value="">Select Project</option>
                <option ng-repeat="project in vm.projects.list" value="{{project.id}}">{{project.name}}</option>
            </select>
        </div>
    </div>
    <div layout="row">
        <div layout="column" flex="30">
            <input type="submit" />
        </div>
    </div>
</form>
<h1>All Entries</h1>
<md-table-container>
    <table md-table>
        <thead md-head md-order="myOrder">
            <tr md-row>
                <th md-column md-order-by="name">
                    <span>Entry</span>
                </th>
                <th md-column md-order-by="project">Project</th>
                <th md-column md-order-by="start_time">Start</th>
                <th md-column>End</th>
                <th md-column md-numeric md-order-by="time">Hours</th>
                <th md-column>Delete</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr ng-repeat="entry in vm.entries.displayList | orderBy: myOrder">
                <td md-cell>{{entry.name}}</td>
                <td md-cell>{{entry.project}}</td>
                <td md-cell>{{entry.start_time}}</td>
                <td md-cell>{{entry.end_time}}</td>
                <td md-cell>{{entry.time}}</td>
                <td md-cell>
                    <button ng-click="vm.deleteEntry(entry)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>