<h2>Projects</h2>

<h3>Add Project</h3>
<form ng-submit="vm.submitProject()">
    <div layout="row">
        <div layout="column">
            <label for="name">Project Name</label>
            <input type="text" id="name" ng-model="vm.newProject.name">
        </div>
    </div>
    <div layout="row">
        <div layout="column">
            <label for="description">Project Description</label>
            <input type="text" id="name" ng-model="vm.newProject.description">
        </div>
    </div>
    <div layout="row">
        <div layout="column">
            <input type="submit" />
        </div>
    </div>
</form>

<md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head>
            <tr md-row>
                <th md-column>Name</th>
                <th md-column>Description</th>
                <th md-column>Hours</th>
                <th md-column>Delete</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr ng-repeat="project in vm.projects.displayList" md-row md-select="dessert" md-select-id="name" md-auto-select >
                <td md-cell>{{project.name}}</td>
                <td md-cell>{{project.description}}</td>
                <td md-cell>{{project.hours}}</td>
                <td md-cell>
                    <button ng-click="vm.deleteProject(project)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>